<mat-sidenav-container
  class="sidenav-container"
  *ngIf="(auth.user$ | async) && auth.apiKey$; else apiKeyForm"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <button
      mat-raised-button
      class="menu-button"
      color="accent"
      (click)="onRefreshVideosClicked()"
    >
      Refresh videos
    </button>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>library_add</mat-icon>
            <p class="panel-title">Add a new subscription</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ng-content select="[slot=sub-form]"></ng-content>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>subscriptions</mat-icon>
            <p class="panel-title">My subscriptions</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-sub-card
            *ngFor="let sub of auth.subscriptions$; let i = index"
            [data]="sub"
            [index]="i"
          ></app-sub-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Youtube Selective Subs</span>
      <div style="flex-grow: 10"></div>
      <button
        mat-raised-button
        class="toolbar-button"
        color="accent"
        (click)="showApiKeyDialog()"
      >
        Change API key
      </button>
      <button
        mat-raised-button
        class="toolbar-button"
        color="accent"
        (click)="auth.signOut()"
      >
        Sign Out
      </button>
    </mat-toolbar>
    <ng-content select="[slot=videos-panel]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #apiKeyForm>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Youtube Selective Subs</span>
      </mat-toolbar>
      <div class="centeredContainer">
        <div *ngIf="auth.user$ | async; else login">
          <ng-content select="[slot=api-key-form]"></ng-content>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<ng-template #login>
  <button mat-raised-button color="primary" (click)="auth.googleSignIn()">
    Login with Google
  </button>
</ng-template>
