.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 500px;
  padding: 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.centeredContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}

.panel-title {
  padding-left: 10px;
}

.menu-button {
  margin-bottom: 20px;
}

.toolbar-button {
  margin: 20px;
}