.cardContent {
  display: grid;
  grid-template-areas:
    "addFiltersBtn  filters"
    "filtersForm    filtersForm";
  grid-template-columns: 70px auto;
}

.addFiltersBtnArea {
  grid-area: addFiltersBtn;
}

.filtersArea {
  grid-area: filters;
}

.filtersFormArea {
  grid-area: filtersForm;
  display: flex;
}

.filter {
  display: flex;
  height: 20px;
}

.deleteFilterButton {
  height: 20px;
  width: 20px;
  line-height: 20px;
}
